@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


.scrollbar-green::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-green::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-green::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.698);
    border-radius: 9999px;
    border: 1px solid rgba(34, 197, 94, 0.3);
    transition: background-color 0.3s;
  }
  
  .scrollbar-green::-webkit-scrollbar-thumb:hover {
    background-color: rgba(242, 242, 242, 0.8);
  }
  
  .scrollbar-green {
    scrollbar-width: thin;
    scrollbar-color: rgb(221, 221, 221) transparent;
  }

  .leaflet-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;
}
